<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe page</title>
    <!-- Add support for bootstrap css styles -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2>The start page will be ready soon.</h2>
<div class="container">

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th >ID</th>
            <th >description</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.description}"></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>